@model IEnumerable<YiCraft.Models.discuss_infos>
@using YiCraft.Models;
@{
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}
@{
    ViewBag.Title = "Index";
}
@{
    if (Session["uid"].ToString() == "游客" || Session["uid"] == null)
    {
        Response.Write("<script>alert('请先登入');window.location.href='../Login/Index';</script>");
    }
}
<h2>YiCraftCore意界论坛信息列表</h2>

<p>
    @Html.ActionLink("发表一个属于自己的话题", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("状况")
        </th>
        <th>
            @Html.Label("主题")
        </th>
        <th>
            @Html.Label("发布时间")
        </th>
        <th>
            @Html.Label("作者")
        </th>
        <th>
            @Html.Label("回复")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.solve)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.theme)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.time)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.author)
    </td>
    <td>
        @{ 
            YiCraftCoreEntities2 yce = new YiCraftCoreEntities2();
            var pm = from u in yce.reply_infos
                     where u.theme_id == item.id
                     select u;
            int num = pm.Count();
        }
        @num.ToString()

    </td>
    <td>
        @Html.ActionLink("详情", "Details", new { id = item.id })
    </td>
</tr>
    }

</table>
